<ng-container *ngIf="(newCustomerState$ | async) as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="DataState.LOADED">
        <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
        <section>
            <div class="container">
                <nav aria-label="breadcrumb" style="margin-top: 8px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="link-text" [routerLink]="['/']">Home</a>
                        </li>
                        <li class="breadcrumb-item "> <a class="link-text" [routerLink]="['/customers']">Customers</a> </li>
                        <li class="breadcrumb-item active" aria-current="page">Register</li>
                    </ol>
                </nav>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h2>Register New Customer</h2>
                                </div>
                                <div *ngIf="state.error"
                                    class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                                    role="alert">
                                    {{ state.error }}
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>

                                <form #newCustomerForm="ngForm" (ngSubmit)="createCustomer(newCustomerForm)">
                                    <div class="row">

                                        <div class="form-floating col-md-6 pt-2 " style="margin-bottom: 15px;">    
                                            <input [disabled]="state.dataState === DataState.LOADING" ngModel type="text" name="name" 
                                            class="form-control" id="name"  placeholder=" " required />   
                                            <label class="mx-2" for="name" >Name</label> 
                                        </div>
                                        <div class="form-floating col-md-6 pt-2 " style="margin-bottom: 15px;">    
                                            <input [disabled]="state.dataState === DataState.LOADING" ngModel type="email" name="email" 
                                            class="form-control" id="email"  placeholder=" " 
                                            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                                            required />   
                                            <label class="mx-2" for="email" >Email</label> 
                                        </div>
                                        <div class="form-floating col-md-6 pt-2 " style="margin-bottom: 15px;">    
                                            <input [disabled]="state.dataState === DataState.LOADING" ngModel type="text" name="address" 
                                            class="form-control" id="address"  placeholder=" " required />   
                                            <label class="mx-2" for="address" >Address</label> 
                                        </div>
                                        <div class="form-floating col-md-6 pt-2 " style="margin-bottom: 15px;">    
                                            <input [disabled]="state.dataState === DataState.LOADING" ngModel type="text" name="phone" 
                                            class="form-control" id="phone"  placeholder="123-999-0000" required />   
                                            <label class="mx-2" for="phone" >Phone</label> 
                                        </div>
                                        
                                        <div class="col-md-6 " style="margin-bottom: 15px;">
                                            <label class="">&nbsp;Type</label>
                                            <select name="type" ngModel="INDIVIDUAL" class="form-select mt-2" required>
                                                <option value="INDIVIDUAL">INDIVIDUAL</option>
                                                <option [selected]="true">INSTITUTION</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 15px;">
                                            <label>&nbsp;Status</label>
                                            <select name="status" ngModel="ACTIVE" class="form-select mt-2" required>
                                                <option [selected]="true" value="ACTIVE">ACTIVE</option>
                                                <option value="BANNED">BANNED</option>
                                                <option value="PENDING">PENDING</option>
                                                <option value="INACTIVE">INACTIVE</option>
                                            </select>
                                        </div>
                                        <div class="form-floating col-md-12 pt-2 " style="margin-bottom: 15px;">    
                                            <input [disabled]="state.dataState === DataState.LOADING" ngModel type="text" name="imageUrl" 
                                            class="form-control" id="imageUrl"  placeholder=" " required />   
                                            <label class="mx-2" for="imageUrl" >Image URL</label> 
                                        </div>
                                    </div>
                                    <div>
                                        <button [disabled]="state.dataState === DataState.LOADING || newCustomerForm.invalid || newCustomerForm.pristine|| (isLaoding$ | async)"
                                        type="submit" class="btn btn-blue mt-2">
                                            <span *ngIf="isLaoding$ | async" class="spinner-border spinner-border-sm"
                                                role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                            <span *ngIf="isLaoding$ | async">Saving...</span>
                                            <span *ngIf="!(isLaoding$ | async)">Save</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>