<ng-container *ngIf="(customerState$ | async) as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="DataState.LOADED">
        <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
        <section>
            <div class="container">
                <nav aria-label="breadcrumb" style="margin-top: 8px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="link-text" [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item"><a class="link-text" [routerLink]="['/customers']">Customers</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ state?.appData?.data?.customers.name }}
                        </li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-start">
                                    <img [src]="state?.appData?.data?.customers.imageUrl" style="position: relative"
                                        class="rounded-circle avatar-lg img-thumbnail img-profile-view" alt="profile-image">
                                    <div class="w-100 ms-4">
                                        <h4 class="my-0">{{ state?.appData?.data?.customers.name }}</h4>
                                        <p class="" style="font-size: 13px;">{{ state?.appData?.data?.customers.email }}
                                            <br>
                                            <span class="badge"
                                                [ngClass]="[
                                                state?.appData?.data?.customers.status === 'ACTIVE' ? ' bg-success' : '',
                                                state?.appData?.data?.customers.status === 'PENDING' ? ' bg-primary' : '',
                                                state?.appData?.data?.customers.status === 'BANNED' ? ' bg-danger' : '',
                                                state?.appData?.data?.customers.status === 'INACTIVE' ? ' bg-info' : ''
                                                ]">
                                                {{ state?.appData?.data?.customers.status }}
                                            </span>
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Invoices</h5>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                                        <h6>Customer Total Invoices</h6>
                                        <span class="" style="font-size: 16px;">
                                            {{ state?.appData?.data?.customers.invoices.length }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Billed</h5>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <h6 class="">Customer Total Billed</h6>
                                        <span class="badge btn-blue" style="font-size: 16px;">
                                            $ {{ (state?.appData?.data?.customers.invoices | extractArrayValue: 'total') }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Profile Details</h5>
                                <form #customerForm="ngForm" (ngSubmit)="updateCustomer(customerForm)">
                                    <input type="hidden" [ngModel]="state?.appData?.data?.customers.id" name="id"
                                        [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)">
                                    <input type="hidden" [ngModel]="state?.appData?.data?.customers.createdAt"
                                        name="createdAt"
                                        [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)">
                                    <div class="row mb-3">
                                        <label for="name" class="col-sm-3 col-form-label">First Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" [ngModel]="state?.appData?.data?.customers.name"
                                                name="name"
                                                [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="text" [ngModel]="state?.appData?.data?.customers.email"
                                                name="email"
                                                [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="type" class="col-sm-3 col-form-label">Type</label>
                                        <div class="col-sm-9">
                                            <input type="text" [ngModel]="state?.appData?.data?.customers.type"
                                                name="type"
                                                [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="status" class="col-sm-3 col-form-label">Status</label>
                                        <div class="col-sm-9">
                                            <input type="text" [ngModel]="state?.appData?.data?.customers.status"
                                                name="status"
                                                [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="address" class="col-sm-3 col-form-label">Address</label>
                                        <div class="col-sm-9">
                                            <input type="text" [ngModel]="state?.appData?.data?.customers.address"
                                                name="address"
                                                [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                                        <div class="col-sm-9">
                                            <input type="text" [ngModel]="state?.appData?.data?.customers.phone"
                                                name="phone"
                                                [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="imageurl" class="col-sm-3 col-form-label">Image URL</label>
                                        <div class="col-sm-9">
                                            <input type="text" [ngModel]="state?.appData?.data?.customers.imageUrl"
                                                name="imageUrl"
                                                [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <button
                                        [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)"
                                        type="submit" class="btn btn-blue float-end">
                                        <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm"
                                            role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                        <span *ngIf="isLoading$ | async">Loading...</span>
                                        <span *ngIf="!(isLoading$ | async)">Update</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Invoices</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Customer Invoices</h6>
                                <table class="table table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col">Invoice Number</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let invoice of state?.appData?.data?.customers.invoices">
                                            <td>{{ invoice.invoiceNumber }}</td>
                                            <td>{{ invoice.services }}</td>
                                            <td>
                                                <span class="badge" [ngClass]="[
                                                invoice.status === 'ACTIVE' ? ' bg-success' : '',
                                                invoice.status === 'PENDING' ? ' bg-primary' : '',
                                                invoice.status === 'BANNED' ? ' bg-danger' : '',
                                                invoice.status === 'INACTIVE' ? ' bg-info' : ''
                                                ]">
                                                    {{ invoice.status }}
                                                </span>
                                            </td>
                                            <td>{{ invoice.date }}</td>
                                            <td>${{ invoice.total }}</td>
                                            <td>
                                                <button type="button"
                                                    [routerLink]="['/invoice', invoice.id, invoice.invoiceNumber]"
                                                    class="btn btn-blue btn-sm">Print</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>