<ng-container *ngIf="(newInvoiceState$ | async) as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="DataState.LOADED">
        <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
        <section>
            <div class="container">
                <nav aria-label="breadcrumb" style="margin-top: 8px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/']" class="link-text">Home</a>
                        </li>
                        <li class="breadcrumb-item"> <a class="link-text" [routerLink]="['/invoices']">Invoices</a> </li>
                        <li class="breadcrumb-item active" aria-current="page">New</li>
                    </ol>
                </nav>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h2>New Invoice</h2>
                                </div>
                                <div *ngIf="state.error"
                                    class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                                    role="alert">
                                    {{ state.error }}
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                <div *ngIf="state.appData.message !== 'Customers Retrieved'"
                                    class="alert alert-success bg-success text-light border-0 alert-dismissible fade show"
                                    role="alert">
                                    {{ state.appData.message }}
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>

                                <form #newInvoiceForm="ngForm" (ngSubmit)="createInvoice(newInvoiceForm)">
                                    <div class="row">
                                        <div class="form-floating col-md-12 pt-2 " style="margin-bottom: 15px;">    
                                            <input [disabled]="state.dataState === DataState.LOADING" ngModel type="text" name="services" 
                                            class="form-control" id="services"  placeholder=" " minlength="5" required />   
                                            <label class="mx-2" for="services" >Services</label> 
                                        </div>
                                        <div class="col-md-6 " style="margin-bottom: 15px;">
                                            <label class="">&nbsp;Customer</label>
                                            <select name="customerId" [ngModel]="" class="form-select mt-1" required>
                                                <option *ngFor="let customer of state?.appData?.data?.customers"
                                                    [ngValue]="customer.id" [selected]="" [disabled]=""
                                                    class="select-cl">{{ customer.name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 " style="margin-bottom: 15px;">
                                            <label class="">&nbsp;Status</label>
                                            <select name="status" ngModel="PENDING" class="form-select mt-1" required>
                                                <option value="PENDING">PENDING</option>
                                                <option value="PAID">PAID</option>
                                                <option value="CANCELED">CANCELED</option>
                                                <option value="OVERDUE">OVERDUE</option>
                                            </select>
                                        </div>
                                        <div class="form-floating col-md-6 pt-2 " style="margin-bottom: 15px;">    
                                            <input [disabled]="state.dataState === DataState.LOADING" ngModel type="number" name="total" 
                                            class="form-control" id="total"  placeholder=" " required minlength="1" />   
                                            <label class="mx-2" for="total" >Total</label> 
                                        </div>
                                        <div class="form-floating col-md-6 pt-2" style="margin-bottom: 15px;">
                                                <input type="date" ngModel name="date" class="form-control" required>
                                                <label class="mx-2" for="date">Date</label>
                                        </div>

                                    </div>
                                    <div>
                                        <button
                                            [disabled]="state.dataState === DataState.LOADING || newInvoiceForm.invalid || newInvoiceForm.pristine|| (isLoading$ | async)"
                                            type="submit" class="btn btn-blue mt-2">
                                            <span *ngIf="isLaoding$ | async" class="spinner-border spinner-border-sm"
                                                role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                            <span *ngIf="isLaoding$ | async">Saving...</span>
                                            <span *ngIf="!(isLaoding$ | async)">Save Invoice</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>